@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "neue";
    src: url("/fonts/NeueMontreal-Light.woff") format("woff");
    font-weight: 300;
  }

  @font-face {
    font-family: "neue";
    src: url("/fonts/NeueMontreal-Regular.woff") format("woff");
    font-weight: 400;
  }

  @font-face {
    font-family: "neue";
    src: url("/fonts/NeueMontreal-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "neue";
    src: url("/fonts/NeueMontreal-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "neue";
    src: url("/fonts/NeueMontreal-Bold.woff") format("woff");
    font-weight: 700;
  }

  @font-face {
    font-family: "monaSan";
    src: url("/fonts/Mona-Sans-Light.woff") format("woff");
    font-weight: 300;
  }

  @font-face {
    font-family: "monaSan";
    src: url("/fonts/Mona-Sans-Regular.woff") format("woff");
    font-weight: 400;
  }

  @font-face {
    font-family: "monaSan";
    src: url("/fonts/Mona-Sans-Medium.woff") format("woff");
    font-weight: 500;
  }

  @font-face {
    font-family: "monaSan";
    src: url("/fonts/Mona-Sans-SemiBold.woff") format("woff");
    font-weight: 600;
  }

  @font-face {
    font-family: "monaSan";
    src: url("/fonts/Mona-Sans-Bold.woff") format("woff");
    font-weight: 700;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

.hero-head {
  background: linear-gradient(90deg, #099235 0%, #7fc026 100%);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 500;
}

.hero-head span {
  font-style: italic;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.statbox {
  background: url("/images/dotted-pattern.png");
}

.show {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.fadeUp {
  animation: fadeUp linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.slideIn {
  animation: slideIn linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(-400px)
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0px)
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  60% {
    opacity: 0;
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0px)
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(500px)
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0px)
  }
}

@layer utilities {
  .input{
    @apply px-[15px] py-[11px] text-[12px] max-w-[400px] rounded-[8px] text-white/85 bg-[#3f3f3f] focus:outline-none focus:border-none focus:ring-0  placeholder:text-white/55;
  }
  .para {
    @apply font-monasan font-normal text-base tracking-tight;
  }

  .para18 {
    @apply font-neuemon font-medium text-[18px] leading-[24.3px];
  }


  .head28 {
    @apply font-neuemon font-medium text-4xl md:text-5xl tracking-[-1%] md:leading-[57.6px];
  }

  .navanimate {
    @apply motion-opacity-in-[0%] motion-blur-in-[10px] motion-duration-[1.50s] motion-duration-[0.78s]/opacity motion-delay-[0.20s]/opacity motion-duration-[1.26s]/blur motion-delay-[0.60s]/blur;
  }

  .divanimate {
    @apply motion-scale-in-[0.2] motion-translate-x-in-[7%] motion-translate-y-in-[8%] motion-opacity-in-[0%] motion-rotate-in-[-10deg] motion-blur-in-[10px] motion-duration-[1.88s]/scale motion-duration-[1.36s]/translate motion-delay-[0.28s]/translate motion-duration-[1.00s]/opacity motion-duration-[1.22s]/rotate motion-delay-[0.56s]/rotate motion-duration-[0.90s]/blur motion-delay-[0.92s]/blur;
  }

  .flexCenter {
    @apply flex justify-center items-center;
  }
}